@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global style variables */
  /* Using just the color channels allows to use opacity values with Tailwind */
  --tw-clr-primary: 59 130 246;
  --tw-clr-accent: 253 224 71;

  --clr-primary: rgb(var(--tw-clr-primary)); /* #3b82f6 */
  --clr-accent: rgb(var(--tw-clr-accent)); /* #fde047 */

  /* Gray variants */
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eaeaea;
  --gray-300: #999;
  --gray-400: #888;
  --gray-500: #666;
  --gray-600: #444;
  --gray-700: #333;
  --gray-800: #222;
  --gray-900: #111;
}

html {
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: var(--clr-primary);
  color: #fefefe;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@layer base {
  /* START - DEFAULT TYPOGRAPHY */
  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-700 dark:text-gray-200;
  }

  h1 {
    @apply text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold  md:text-4xl;
  }

  h3 {
    @apply text-lg font-bold  md:text-2xl;
  }

  h4 {
    @apply text-base font-semibold;
  }

  /* END - DEFAULT TYPOGRAPHY */

  hr {
    @apply my-4 border-gray-200 dark:border-gray-500;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-82px)];
  }
}

@layer utilities {
  .layout {
    max-width: 48rem;
    @apply mx-auto px-4 md:px-0;
  }

  .section {
    @apply mt-10;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-primary to-accent;
  }

  .bg-text-gradient {
    @apply bg-gradient-to-tr from-primary/40 to-accent/40 dark:text-transparent dark:bg-clip-text dark:from-primary dark:to-accent;
  }

  .mobile-link {
    @apply text-sm font-semibold text-gray-900 border-b border-gray-300 dark:border-gray-700 dark:text-gray-100;
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary), var(--clr-primary));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-long {
    @apply text-base font-normal text-gray-500 dark:text-gray-200;
  }

  .input {
    @apply block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:ring-primary focus:border-0;
  }

  .send-form-btn {
    @apply px-4 py-2 font-bold text-gray-900 transition duration-300 rounded shadow bg-primary hover:scale-105 hover:shadow-lg focus:outline-none;
  }
}

.javascript {
  @apply bg-[#f1e05a];
}

.typescript {
  @apply bg-[#2b7489];
}

.vue {
  @apply bg-[#41b883];
}

.html {
  @apply bg-[#e34c26];
}

/* Titles for rehype-code-title class */
.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-[#322931] dark:bg-[#322931] border-b-[1px] border-opacity-50  border-gray-600 rounded-t-lg dark:text-gray-200 dark:border-gray-700 -z-50;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

code {
  @apply bg-gray-200 dark:bg-gray-700 dark:border-opacity-30 p-[1px] rounded-[4px];
}

code::before,
code::after {
  /* @apply text-primary dark:text-accent; */
  @apply hidden;
}

code > span {
  @apply text-primary dark:text-accent;
}

.step > h3 {
  @apply my-0;
}

/* Loader Animation */
.segment {
  opacity: 0;
  fill: var(--clr-primary);
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
