@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global style variables */
  --tw-clr-gray-light: #eaeaea;
  --tw-clr-gray-lighter: #999999;
  --tw-clr-gray-regular: #666666;
  --tw-clr-gray-darker: #333333;
  --tw-clr-gray-dark: #111111;
}

html {
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: #f59e0b;
  color: #fefefe;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/ibm-plex-sans-var-italic.woff2) format('woff2');
  } */

  /* START - DEFAULT TYPOGRAPHY */
  h1 {
    @apply text-4xl font-bold text-gray-darker dark:text-gray-light md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold text-gray-700 dark:text-gray-200 md:text-4xl;
  }

  h3 {
    @apply text-lg font-bold text-gray-700 dark:text-gray-200 md:text-2xl;
  }

  h4 {
    @apply text-base font-semibold text-gray-700 dark:text-gray-200;
  }

  /* END - DEFAULT TYPOGRAPHY */

  hr {
    @apply my-4 border-gray-200 dark:border-gray-500;
  }
}

@layer utilities {
  .layout {
    max-width: 48rem;
    @apply mx-auto px-4 md:px-0;
  }

  .section {
    @apply mt-10;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-green-500 to-yellow-300;
  }

  .bg-text-gradient {
    @apply bg-gradient-to-tr from-green-500/40 to-yellow-300/40 dark:text-transparent dark:bg-clip-text dark:from-green-500 dark:to-yellow-200;
  }

  .mobile-link {
    @apply text-sm font-semibold text-gray-900 border-b border-gray-300 dark:border-gray-700 dark:text-gray-100;
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #28313b, #485461);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-long {
    @apply text-base font-normal text-gray-regular;
  }

  .input {
    @apply block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:ring-amber-400 focus:border-0;
  }

  .send-form-btn {
    @apply px-4 py-2 font-bold text-white transition duration-300 rounded shadow bg-amber-500 hover:scale-105 hover:bg-amber-400 focus:outline-none;
  }
}

.javascript {
  @apply bg-[#f1e05a];
}

.typescript {
  @apply bg-[#2b7489];
}

.vue {
  @apply bg-[#41b883];
}

.html {
  @apply bg-[#e34c26];
}

/* Titles for rehype-code-title class */
.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-[#282a36] dark:bg-[#282a36] border-b-[1px] border-opacity-50  border-gray-600 rounded-t-lg dark:text-gray-200 dark:border-gray-700;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

code {
  @apply border-[1px] border-opacity-50 dark:border-opacity-30 p-[1px] rounded-sm border-gray-200;
}

code::before,
code::after {
  @apply text-green-500;
  /* display: none; */
}

code > span {
  @apply text-green-500 dark:text-gradient;
}

.step > h3 {
  @apply my-0;
}

/* Loader Animation */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
