@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global style variables */
  /* Using just the color channels allows to use opacity values with Tailwind */
  --tw-clr-primary: 62 205 141;
  --tw-clr-accent: 253 224 71;

  --clr-primary: rgb(var(--tw-clr-primary)); /* #3ECD8D */
  --clr-accent: rgb(var(--tw-clr-accent)); /* #fde047 */

  /* Gray variants */
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eaeaea;
  --gray-300: #999;
  --gray-400: #888;
  --gray-500: #666;
  --gray-600: #444;
  --gray-700: #333;
  --gray-800: #222;
  --gray-900: #111;
}

html {
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  @apply transition-colors duration-150;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: var(--clr-primary);
  color: #fefefe;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@layer base {
  /* START - DEFAULT TYPOGRAPHY */
  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-700 dark:text-gray-200;
  }

  h1 {
    @apply mb-4 text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply mb-4 text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply text-base font-semibold;
  }

  p,
  span {
    @apply text-base text-gray-600 dark:text-gray-200;
  }
  /* END - DEFAULT TYPOGRAPHY */

  hr {
    @apply my-4 border-gray-200 dark:border-gray-500;
  }
}

@layer utilities {
  .layout {
    max-width: 48rem;
    @apply mx-auto px-4 md:px-0;
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-tr from-primary to-accent bg-clip-text text-transparent;
  }

  .bg-text-gradient {
    @apply bg-gradient-to-tr from-primary/40 to-accent/40 dark:from-primary dark:to-accent dark:bg-clip-text dark:text-transparent;
  }
}

.javascript {
  @apply bg-[#f1e05a];
}

.typescript {
  @apply bg-[#2b7489];
}

.vue {
  @apply bg-[#41b883];
}

.html {
  @apply bg-[#e34c26];
}

/* Titles for rehype-code-title class */
.rehype-code-title {
  @apply rounded-t-lg border-b-[1px] border-gray-600 border-opacity-50 bg-[#322931] px-5 py-3 font-mono text-sm font-bold  text-gray-200 dark:border-gray-700 dark:bg-[#322931] dark:text-gray-200;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

code {
  @apply rounded-[4px] bg-gray-200 p-[1px] dark:border-opacity-30 dark:bg-gray-700;
}

code::before,
code::after {
  /* @apply text-primary dark:text-accent; */
  @apply hidden;
}

code > span {
  @apply text-primary dark:text-primary;
}

.step > h3 {
  @apply my-0;
}

/* Loader Animation */
.segment {
  opacity: 0;
  fill: var(--clr-primary);
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
