.navLink {
  /* padding: 8px 12px; */
  color: #888;
  cursor: pointer;
  margin-right: 1.5rem;
}

.navLink,
.navLink::after {
  transition: all 0.5s;
}

.navLink:hover {
  color: #444;
}
.navLink:after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 4px solid #444;
  /* transition: 0.25s; */
}

.navLink:hover:after {
  width: 100%;
}

.navLink.activeLight {
  color: #333;
  font-weight: 600;
}

.navLink.activeLight:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #444;
}

.navLink.activeDark {
  color: #eaeaea;
  font-weight: 600;
}

.navLink.activeDark:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #eaeaea;
}

@media (max-width: 768px) {
  .navLink {
    display: none;
  }
}
