:root {
  --background: #fafafa;
  --comment: #6272a4;
  --foreground: #444;
  --selection: #44475a;

  --cyan: #06b6d4;
  --green: #22c55e;
  --orange: #ec4899;
  --pink: #3b82f6;
  --purple: #a855f7;
  --red: #ff5555;
  --yellow: #f59e0b;
}

pre::-webkit-scrollbar {
  width: 14px;
}

pre::-webkit-scrollbar-track {
  background-color: var(--comment);
  border-radius: 0px;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 0px;
}

/* Selection */

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background-color: var(--selection);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background-color: var(--selection);
}

/* Remove text shadow for printing */

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  /* color: var(--foreground); */
  @apply text-gray-600 dark:text-gray-200;
  /* background: var(--background); */
  @apply bg-gray-50 dark:bg-gray-900;
  text-shadow: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */

pre[class*='language-'] {
  background: var(--background);
  @apply border dark:border-gray-700;
  border-radius-bottom: 0.5em;
  padding: 1em;
  /* margin: 0.5em 0; */
  overflow: auto;
  height: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--background);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 4px 7px;
  border-radius: 0.3em;
  white-space: normal;
}

/* Code box limit */

.limit-300 {
  height: 300px !important;
}

.limit-400 {
  height: 400px !important;
}

.limit-500 {
  height: 500px !important;
}

.limit-600 {
  height: 600px !important;
}

.limit-700 {
  height: 700px !important;
}

.limit-800 {
  height: 800px !important;
}

.language-css {
  color: var(--purple);
}

.token {
  color: var(--pink);
}

.language-css .token {
  color: var(--pink);
}

.token.maybe-class-name {
  /* color: var(--foreground); */
  @apply text-gray-500 dark:text-gray-200;
}

.token.script {
  color: var(--foreground);
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.atrule,
.token.attr-name,
.token.attr-value {
  color: var(--green);
}

.language-css .token.atrule {
  color: var(--purple);
}

.language-html .token.attr-value,
.language-markup .token.attr-value {
  color: var(--yellow);
}

.token.boolean {
  color: var(--purple);
}

.token.builtin,
.token.class-name {
  color: var(--cyan);
}

.token.comment {
  color: var(--comment);
}

.token.constant {
  color: var(--purple);
}

.language-javascript .token.constant {
  color: var(--orange);
  font-style: italic;
}

.token.entity {
  color: var(--pink);
}

.language-css .token.entity {
  color: var(--green);
}

.language-html .token.entity.named-entity {
  color: var(--purple);
}

.language-html .token.entity:not(.named-entity) {
  color: var(--pink);
}

.language-markup .token.entity.named-entity {
  color: var(--purple);
}

.language-markup .token.entity:not(.named-entity) {
  color: var(--pink);
}

.token.function {
  color: var(--green);
}

.language-css .token.function {
  color: var(--cyan);
}

.token.important,
.token.keyword {
  color: var(--pink);
}

.token.prolog {
  color: var(--foreground);
}

.token.property {
  color: var(--orange);
}

.language-css .token.property {
  color: var(--cyan);
}

.token.punctuation {
  color: var(--foreground);
}

.language-css .token.punctuation {
  color: var(--orange);
}

.language-html .token.punctuation,
.language-markup .token.punctuation {
  color: var(--foreground);
}

.token.selector {
  color: var(--pink);
}

.language-css .token.selector {
  color: var(--green);
}

.token.regex {
  color: var(--red);
}

.language-css .token.rule:not(.atrule) {
  color: var(--foreground);
}

.token.string {
  color: var(--yellow);
}

.token.tag {
  color: var(--pink);
}

.token.url {
  color: var(--foreground);
}

.language-css .token.url {
  color: var(--orange);
}

.token.variable {
  color: var(--comment);
}

.token.number {
  color: rgba(189, 147, 249, 1);
}

.token.operator {
  color: var(--foreground);
}

.token.char {
  color: rgba(255, 135, 157, 1);
}

.token.symbol {
  color: rgba(255, 184, 108, 1);
}

.token.deleted {
  color: #e2777a;
}

.token.namespace {
  color: #e2777a;
}

.token.dom {
  color: var(--foreground);
}

.code-line.highlight-line {
  background-color: rgba(139, 233, 253, 0.14);
  border-left: 2px solid rgb(139, 233, 253);
}

.code-line {
  display: block;
  @apply text-orange-600;
}
