@tailwind base;
@tailwind components;
@tailwind utilities;

/* NEW DESIGN */
@layer base {
  :root {
    /* --color-main: #5378f5;
    --color-main-light: #a9bcfa;
    --color-main-hover: #4260c4; */
  }

  body {
    @apply transition-colors duration-700 bg-gray-50 dark:bg-gray-900 dark:text-gray-100;
    @apply min-h-screen;
  }

  .themeToggler {
    @apply flex items-center justify-center transition-all bg-gray-200 rounded-lg w-9 h-9 dark:bg-gray-600 hover:ring-2 ring-gray-300;
  }

  .heading-1 {
    @apply text-4xl font-bold text-gray-900 md:text-5xl;
  }

  /* 
  .heading-2 {
    @apply text-2xl font-bold uppercase md:text-4xl lg:text-5xl;
  }

  .btn {
    @apply flex items-center justify-center text-sm font-semibold transition-all duration-300 ease-in-out transform rounded-lg hover:scale-105 hover:shadow-lg;
  }

  .btn-black {
    @apply px-8 py-4 text-white bg-gray-900 hover:text-main;
  }

  .btn-main {
    @apply px-4 py-2 btn bg-main hover:bg-main-dark hover:text-white;
  }

  .btn-white {
    @apply px-4 py-2 text-sm text-gray-700 bg-gray-200 hover:bg-gray-700 hover:text-main;
  }

  .btn-secondary {
    @apply px-8 py-4 text-gray-600 capitalize border hover:text-main;
  }

  .btn-inverted {
    @apply text-base text-gray-700 bg-gray-200 btn btn-black;
  }

  .btn-project {
    @apply px-4 py-1 text-sm font-semibold text-white transform bg-gray-900 rounded cursor-pointer hover:bg-gray-700 hover:text-main hover:scale-90 focus:bg-gray-700 focus:outline-none;
  }

  .post-card {
    @apply flex flex-col w-3/4 h-full col-span-12 mx-auto overflow-hidden transition-all duration-300 ease-in-out bg-white rounded-md shadow-lg cursor-pointer md:col-span-6 md:w-full lg:col-span-4 xl:w-11/12 hover:scale-110 hover:shadow-2xl;
  } */
}

input:checked ~ .dot {
  transform: translateX(22px);
}

/* .loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

::selection {
  background-color: var(--color-main);
  color: #fefefe;
} */
