@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

@layer utilities {
    .custom-transition {
        @apply transition-colors duration-100 ease-in-out;
    }
}
